# ============================================================
# LAMBDA LAYER - DEPENDENCIAS PYTHON COMPARTIDAS
# ============================================================

# AWS SDK (común en todos los servicios)
boto3==1.34.34

# Variables de entorno
python-dotenv==1.0.0

# JWT para autenticación (Usuarios)
PyJWT==2.8.0

# Validación de schemas (Pedidos)
jsonschema==4.21.1
