service: chinawok-shared-layer

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  iam:
    role: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole

layers:
  pythonDependencies:
    path: python-dependencies
    name: ${self:provider.stage, 'dev'}-chinawok-python-dependencies
    description: Dependencias Python compartidas para todos los microservicios ChinaWok
    compatibleRuntimes:
      - python3.12
      - python3.13
    retain: false

resources:
  Resources:
    ChinawokPedidosEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${env:EVENT_BUS_NAME, 'chinawok-pedidos-events'}
  
  Outputs:
    PythonDependenciesLayerExport:
      Value:
        Ref: PythonDependenciesLambdaLayer
      Export:
        Name: ChinaWok-Python-Dependencies-Layer
    
    EventBusNameExport:
      Value:
        Ref: ChinawokPedidosEventBus
      Export:
        Name: ChinaWok-EventBus-Name
